@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../images/pizza_1920x1080.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template-rows: 3em 5vw 25% auto 3em; /* the grid will contain 5 rows */
    /*
    The first row is the title, the second is for the menu button,
    the 3th is for the menu box, the 4th everything else, the 5th is the footer 
    */
    grid-template-columns: 5vw 15vw auto; /* the grid will contain 3 columns */
    /*
    The first column is the menu button, the second is the main padding, the third is the main area 
    */
}

header {    
    grid-column-start: 1; /* the title will start on row 1 */
    grid-column-end: -1; /* the title will expand to all columns */
    background-color: rgba(211, 211, 211, 0.708);
    text-align: center;  
}

header > h1 {
    font-size: 2.7em;
}

/* menu now is only the button, not the entire menu box,
i used the class menu_div for the menu box selector */
menu {
    grid-column-end: 2;
    padding: 1em;
    background-color: rgba(148, 146, 146, 0.708);
    display: inline-block;
    cursor: pointer;
}

.icon {
    object-fit: contain;
    height: 100%;
    min-height: 1rem;
}

.menu_div {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    z-index: 1;
}

menu:hover {
    background-color: white;
}

.menu_div > ul {
    display: none;
    list-style-type: none;
    height: 40vh;
    width: 16vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    padding: 10px;
    text-align: center;
    border: black 1px solid;
}

.menu_div > ul > a {
    text-decoration: none;
    color: black;
    background-color: green;
}

.menu_div > ul > a > li {
    border: black 1px solid;
    margin: 10px;
    padding: 5px;
}

.menu_div > ul > a > li:hover {
    background-color: rgba(128, 128, 128, 0.662);
}

main {
    grid-row-start: 2;
    grid-column-start: 2;
    
}

#inicio {
    background-color: rgba(211, 211, 211, 0.543);
    height: 80vh;
    width: 90vw;
    display: block;
    margin: 15%;
}