@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background: url(../images/pizza_1920x1080.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
}

header {
    background-color: rgba(211, 211, 211, 0.708);
    text-align: center;
    height: 50px;
}

header > h1 {
    font-size: 2.7em;
}

menu {
    padding: 10px;
    background-color: rgba(148, 146, 146, 0.708);
    display: inline-block;
    cursor: pointer;
}

menu img {
    
}

menu:hover {
    background-color: white;
}

menu > ul {
    display: none;
    list-style-type: none;
    height: 40vh;
    width: 16vw;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    padding: 10px;
    text-align: center;
    border: black 1px solid;
}

menu > ul > a {
    text-decoration: none;
    color: black;
    background-color: green;
}

menu > ul > a > li {
    border: black 1px solid;
    margin: 10px;
    padding: 5px;
}

menu > ul > a > li:hover {
    background-color: rgba(128, 128, 128, 0.662);
}

main {
    
}

main > section#inicio {
    background-color: rgba(211, 211, 211, 0.543);
    height: 80vh;
    width: 60vw;
    display: block;
    margin: auto;
}